<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TecnoDashboard - Gestionar Productos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/adminStyles.css">
    </head>
<body>
    <header class="header-admin">
            <i class="fas fa-bars mobile"></i>
            <h1>Dashboard</h1>
            <form class="filtrarProductos">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
                <button class="bntDashboard1"><i class="fas fa-filter"></i></button>
            </form>
            <div class="user"></div>
            
    </header>
    <main class="main-contenedor">
        <div class="barra-lateral">
            <ul>
                <li><i class="fab fa-apple"></i> Grupo 7 - Apple</li>
                <li><i class="fas fa-home"></i> Dashboard</li>
                <li><i class="fas fa-user-friends"></i> Clientes</li>
                <li><i class="far fa-comment"></i> Mensajes</li>
                <li><i class="fas fa-cogs"></i> Ajustes</li>
                <li><i class="fas fa-sign-out-alt"></i> Cerrar sesión</li>
            </ul>
        </div>

        <table class="productTable listadoProductos">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(let producto of listadoProductos) { %>
                    <tr>
                        <td><img id="imagen" width="50px" src=<%= producto.imagen %>></td>
                        <td><%= producto.id %></td>
                        <td><%= producto.nombre %></td>
                        <td><%= producto.categoria %></td>
                        <td><%= producto.precio %></td>
                        <td> <% if(producto.disponible === true) { %>
                            <i class="fas fa-long-arrow-alt-up enStock"></i>
                        <% }else { %>
                            <i class="fas fa-long-arrow-alt-down sinStock"></i>
                        <% } %></td>
                        <td class="acciones">
                            <a href="#exampleModalCenter" id="editar" class="editar-producto bntDashboard1" data-toggle="modal" data-id="<%= producto.id %>" data-nombre="<%= producto.nombre %>" data-precio="<%= producto.precio %>" data-imagen="<%= producto.imagen %>"><i class="fas fa-pen"></i></a>
                        
                            <a href="#/<%= producto.id %>" class="eliminar-producto bntDashboard1 btn-danger"><i class="far fa-trash-alt"></i></a>
                        
                        </td>                        
                    </tr>
                <% } %>
            </tbody>
        </table>

        <section class="gridProductos contenedor listadoProductos">
            <% for(let producto of listadoProductos) { %>
                <article class="producto-admin">
                    <img id="imagen" src=<%= producto.imagen %>>
                    <div class="info-producto-admin">
                        <div class="titulo-producto-admin" id="nombre"><%= producto.nombre %></div>
                        <div class="precio-producto-admin" id="precio"> $ <%= producto.precio %></div>
                        <div class="sku-producto-admin" id="id"> SKU: <%= producto.id %> </div>
                        <div class="stock-producto-admin">Stock:
                            <% if(producto.disponible === true) { %>
                                <i class="fas fa-long-arrow-alt-up enStock"></i>
                            <% }else { %>
                                <i class="fas fa-long-arrow-alt-down sinStock"></i>
                            <% } %>
                        </div>
                    </div>
                    <div class="iconos-acciones">
                        <a href="#exampleModalCenter" id="editar" class="editar-producto bntDashboard1" data-toggle="modal" data-id="<%= producto.id %>" data-nombre="<%= producto.nombre %>" data-precio="<%= producto.precio %>" data-imagen="<%= producto.imagen %>"><i class="fas fa-pen"></i></a>
                        <a href="#/<%= producto.id %>" class="eliminar-producto bntDashboard1 btn-danger"><i class="far fa-trash-alt"></i></a>
                    </div>
                </article>

                <!-- Modal -->
                
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content modal-tecno">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="" class="form-modal-edit">
                                    <div>
                                        <label for="nombre">Nombre</label>
                                        <input type="text" name="nombre" id="nombre-modal">
                                    </div>

                                    <div>
                                        <label for="precio">Precio</label>
                                        <input type="number" name="precio" id="precio-modal">
                                    </div>

                                    <div>
                                        <label for="disponible">Stock</label>
                                        <select name="disponible" id="disponible">
                                            <option value="">-- Seleccione --</option>
                                            <option value="1">Disponible</option>
                                            <option value="0">No Disponible</option>
                                        </select>
                                    </div>
                                    
                                    <div>
                                        <img id="imagen-modal" src="" width="150px">
                                        <input type="file" name="imagen">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
         </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const products = document.querySelector('.listadoProductos')
        products.addEventListener('click', leerProductos);

        function leerProductos(e){
            if(e.target.classList.contains('editar-producto')) {
                productoId = e.target.getAttribute('data-id');
                productoNombre = e.target.getAttribute('data-nombre');
                productoPrecio = e.target.getAttribute('data-precio');
                productoImagen = e.target.getAttribute('data-imagen');

                modalTitle = document.querySelector('#modalTitle');
                modalTitle.textContent = 'Editar producto #' + productoId;

                nombreModal = document.querySelector('#nombre-modal');
                nombreModal.value = productoNombre;

                precioModal = document.querySelector('#precio-modal');
                precioModal.value = productoPrecio;

                imagenModal = document.querySelector('#imagen-modal');
                imagenModal.src = productoImagen;

            }
        }
    </script>
</body>
</html>