<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>
    <body>
    <%- include('../partials/header.ejs') %>
    <form class="form-login" action="/user/login" method="POST">
        <span class="iniciar-sesion" ><strong>INICIAR SESIÓN</strong> </span>
        <% if(locals.registerMessage) { %>
            <div class="resultado">
                <%= registerMessage %>
            </div>
        <% } %>
        <% if(locals.credentialError) { %>
            <div class="login-error">
                <%= credentialError.msg %>
            </div>
        <% } %>
        <div class="formulario">
        <input class="nombre <%= locals.errors && errors.email ? 'invalid' : ''%>" type="email" name="email" placeholder="Ingresa tu e-mail" value="<%= locals.old && old.email ? old.email : ''%>">
        <% if (locals.errors && errors.email) { %>
            <div class="errors-form">
                <i class="fas fa-exclamation-triangle"></i>
                <p class="feedback"><%= errors.email.msg %></p>
            </div>
        <% } %>
        </div>
        <div class="formulario">
        <input class="password <%= locals.errors && errors.password ? 'invalid' : ''%>" type="password" name="password" placeholder="Ingresá tu contraseña">
        <% if (locals.errors && errors.password) { %>
            <div class="errors-form">
                <i class="fas fa-exclamation-triangle"></i>
                <p class="feedback"><%= errors.password.msg %></p>
            </div>
        <% } %>
        </div> 
        <div class="form-group form-check">
            <label class="form-check-label">
                <input type="checkbox" class="recordarUsuario" name="remember_user">Recordar mi usuario
            </label>
        </div>
        <div class="formulario"> 
        <button class="boton-login" type="submit" value="">Continuar</button>
        </div>
        
       <div class="boton-registro">
        <span class="text-registro">¿Eres nuevo en Tecnorobot?</span>
        <a href="/user/register" class="boton-registro1">Registrarse</a>
       </div>

    </form>
   
    </main>
    
    <%- include('../partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>