<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
        <body>
            <%- include('../partials/header.ejs') %>
                <main class="main-contenedor">
               
                    <div class="contain img">
                        <div class="img-perfil">
                        <img src="<%= locals.userLogged && userLogged.image ? "/images/user_avatar/" + userLogged.image : "/images/perfil-cabllero.png" %>">
                        </div>
                    </div>
                  
                    <div class="container-info-perfil">
                        <div class="content-info-perfil">
                            <h1 class="m-3 pt-3">Acerca de mi</h1>
                            <div class="car-body">
                                <form action="/perfil?_method=PUT" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="perfil-subtitle">Nombre</h5>
                                        </div>
                                            <div class="col-md-9 text-secondary">
                                            <input class="info_perfil" type="text" name="username" value="<%= locals.userLogged ? userLogged.name : "" %>">
                                            </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="perfil-subtitle">Email</h5>
                                        </div>
                                        <div class="col-md-9 text-secondary">
                                            <input class="info_perfil" type="email" name="email" value="<%= locals.userLogged ? userLogged.email : "" %>">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="perfil-subtitle">Celular</h5>
                                        </div>
                                        <div class="col-md-9 text-secondary">
                                            <input class="info_perfil" type="tel" name="tel" placeholder="900092-22">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="perfil-subtitle">Cambiar foto</h5>
                                        </div>
                                        <div class="col-md-9 text-secondary">
                                            <input class="info_perfil" type="file" name="avatar">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="perfil_button">
                                        <button class="boton_perfil" type="submit" value="">Editar Datos</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </main>

                
                
        </body>
</html>