<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>    
    <body>
<%- include('../partials/header.ejs') %>   
 
    <form class="registerForm" action="/user/register" method="POST">
        <span class="iniciar-sesion" ><strong>CREAR CUENTA</strong> </span>

        <div class="register-field">
        <input id="nombre" class="nombre <%= locals.errors && errors.name ? 'invalid' : ''%>" type="text" name="name" placeholder="Nombre de usuario" value="<%= locals.old && old.name ? old.name : ''%>">
        <i class="fas fa-check check" id="checkNombre"></i>
        <div id="name_feedback" class="errors-form">
            <% if (locals.errors && errors.name) { %>
                
                    <i class="fas fa-exclamation-triangle"></i>
                    <p class="feedback"><%= errors.name.msg %></p>
                
            <% } %>
        </div>
        </div>

        <div class="register-field">
            <input id="email" class="email <%= locals.errors && errors.email ? 'invalid' : ''%>" type="email" name="email" placeholder="Correo electr칩nico" value="<%= locals.old && old.email ? old.email : ''%>">
            <i class="fas fa-check check" id="checkEmail"></i>
            <div class="errors-form" id="email_feedback">
                <% if (locals.errors && errors.email) { %>
                    
                        <i class="fas fa-exclamation-triangle"></i>
                        <p class="feedback"><%= errors.email.msg %></p>
                   
                <% } %>
            </div>
        </div>

        <div class="register-field">
            <input id="password" class="password <%= locals.errors && errors.password ? 'invalid' : ''%>" type="password" name="password" placeholder="Ingres치 contrase침a">
            <i class="fas fa-check check" id="checkPassword"></i>
            <div class="errors-form" id="password_feedback">
                <% if (locals.errors && errors.password) { %>
                    
                        <i class="fas fa-exclamation-triangle"></i>
                        <p class="feedback"><%= errors.password.msg %></p>
                    
                <% } %>
            </div>
        </div> 

        <div class="register-field">
            <input id="password_confirm" class="password <%= locals.errors && errors.password_confirm ? 'invalid' : ''%>" type="password" name="password_confirm" placeholder="Repita su contrase침a">
            <label class="info"></label>
            <i class="fas fa-check check" id="checkPasswordConfirm"></i>
            <div class="errors-form" id="password_confirm_feedback">
                <% if (locals.errors && errors.password_confirm) { %>
                    
                        <i class="fas fa-exclamation-triangle"></i>
                        <p class="feedback"><%= errors.password_confirm.msg %></p>
                   
                <% } %>
            </div>
        </div> 

        <div class="register-field"> 
            <button class="boton-register" type="submit" value="">Crea tu cuenta de Tecnorobot </button>
        </div>
        <span class="text-register">Al crear una cuenta, aceptas las Condiciones de Uso y el Aviso de Privacidad de Tecnorobot.</span>
        
    </form>
   
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/registerValidation.js"></script>
</body>
</html>