<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>    
    <body>
<%- include('../partials/header.ejs') %>   
 
    <form class="form-register" action="/register" method="POST">
        <span class="iniciar-sesion" ><strong>CREAR CUENTA</strong> </span>
        <div class="formulario">
        <input class="nombre <%= locals.errors && errors.name ? 'invalid' : ''%>" type="text" name="name" placeholder="Nombre de usuario" value="<%= locals.old && old.name ? old.name : ''%>">
        <% if (locals.errors && errors.name) { %>
            <div class="errors-form">
                <i class="fas fa-exclamation-triangle"></i>
                <p class="feedback"><%= errors.name.msg %></p>
            </div>
        <% } %>
        </div>
        <div class="formulario">
            <input class="email <%= locals.errors && errors.email ? 'invalid' : ''%>" type="email" name="email" placeholder="Correo electrónico" value="<%= locals.old && old.email ? old.email : ''%>">
            <% if (locals.errors && errors.email) { %>
                <div class="errors-form">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p class="feedback"><%= errors.email.msg %></p>
                </div>
            <% } %>
        </div>
        <div class="formulario">
            <input class="password <%= locals.errors && errors.password ? 'invalid' : ''%>" type="password" name="password" placeholder="Ingresá contraseña">
            <% if (locals.errors && errors.password) { %>
                <div class="errors-form">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p class="feedback"><%= errors.password.msg %>. Al menos seis caracteres, una mayúscula y un número.</p>
                </div>
            <% } %>
        </div> 
        <div class="formulario">
            <input class="password <%= locals.errors && errors.password_confirm ? 'invalid' : ''%>" type="password" name="password_confirm" placeholder="Repita su contraseña">
            <label class="info"></label>
            <% if (locals.errors && errors.password_confirm) { %>
                <div class="errors-form">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p class="feedback"><%= errors.password_confirm.msg %></p>
                </div>
            <% } %>
        </div> 
        <div class="formulario"> 
            <button class="boton-register" type="submit" value="">Crea tu cuenta de Tecnorobot </button>
        </div>
        <span class="text-register">Al crear una cuenta, aceptas las Condiciones de Uso y el Aviso de Privacidad de Tecnorobot.</span>
        
    </form>
   
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>