<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin/head.ejs') %>
        <body>
            <%- include('../partials/admin/header.ejs') %>
            <div class="errores" >
                <ul id="errores" >

                </ul>
            </div>
                <main class="main-contenedor">
                    <%- include('../partials/admin/sidebar.ejs') %>
                    <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-createProduct">
                        <div>
                            <input type="text" name="name" id="name" placeholder="Nombre" value="<%= product.name %>" required>
                        </div>
                        <section class="price-fields">
                            <div>
                                <select name="currency_id" id="currency_id" required>
                                    <option value="" disabled>--Moneda--</option>
                                    <% for(currency of currencies) { %>
                                        <option value="<%= currency.id %>" <%= product.currency_id == currency.id ? 'selected' : '' %> > <%= currency.symbol %> </option>
                                    <% } %>
                                </select>
                            </div>

                            <div>
                                <input type="number" name="price" id="price" value="<%= product.price %>" required>
                            </div>
                        </section>
                        <div>
                            <select name="category_id" id="category_id" required>
                                <option value="" disabled>--Categoria--</option>
                                <% for(category of categories) { %>
                                    <option value="<%= category.id %>" <%= product.category_id == category.id ? 'selected' : '' %> > <%= category.name %> </option>
                                <% } %>
                            </select>
                        </div>
                        <label>Envío gratis</label>
                            <div class="input-shipping">
                                <input type="radio" name="freeShipping" id="shipping1" value="true" 
                                <% if(product.freeShipping === true) { %>
                                    <%= 'checked' %>
                                >
                                <% } %>
                                <label for="shipping1"> Si </label>                            
                            </div>
                        <div class="input-shipping">
                            <input type="radio" name="freeShipping" id="shipping2" value="false"
                            <% if(product.freeShipping === false) { %>
                                <%= 'checked' %>
                            >
                            <% } %>
                            <label for="shipping2"> No </label>
                        </div>               
                        <div>
                            <label>Publicado</label>
                            <div class="input-published">
                                <input type="radio" name="isPublished" id="published1" value="true"
                                <% if(product.isPublished === true) { %>
                                    <%= 'checked' %>
                                <% } %>
                                >
                                <label for="published1"> Si </label>
                            </div>
                            <div class="input-published">
                                <input type="radio" name="isPublished" id="published2" value="false" 
                                <% if(product.isPublished === false) { %>
                                    <%= 'checked' %>
                                <% } %>
                                >
                                <label for="published2"> No </label>
                            </div>
                            <div class="input-featured">
                                <label for="featured">Producto destacado</label>
                                <input type="checkbox" name="isFeatured" id="isFeatured"
                                <% if(product.isFeatured === true) { %>
                                    <%= 'checked' %>
                                <% } %>
                                >
                            </div>                 
                            <div class="input-imagenes">
                                <div>
                                    <label for="mainImage">Imagenes de Portada</label>
                                    <div class="products-images">
                                        <img src="<%= product.mainImage %>" width="80px">
                                    </div>
                                    <input type="file" id="file" name="mainImage">
                                </div>
                                <div>
                                    <label for="gallery">Galeria</label>
                                    <div class="products-images">
                                        <% for(image of JSON.parse(product.gallery)) { %>
                                            <img src="/images/products/<%= image %>" width="80px">
                                        <% } %>
                                        
                                    </div>
                                    <input type="file"  id="gallery" name="gallery" multiple>
                                </div>
                            </div>

                            <div>
                                <textarea name="description" id="description" cols="30" rows="5" width="100%" required><%= product.description %></textarea>
                            </div>
                   
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminDash'">Cerrar</button>
                        <button type="submit" id="buttonEdit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </main>
                <script src="/js/editValidation.js"></script>  
        </body>
</html>