<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <div class="product product-detail-container">
            <div class="img_container">
                <img id="imagebox" src="<%= product.mainImage %>">
            
                <div class="cont-img-sall">
                <div class="product-small-img">
                <% for(image of JSON.parse(product.gallery)) { %>
                    <img src="/images/products/<%= image %>" width="140px" class="miniatura">
                <% } %>
                </div>
                </div>
        </div>

        <div class="detail-contenedor">
            <hr size="4" width="100%" color="">
            <div class="caja_titulo1">
                <h1 class="titulo_detail"> <%= product.name %> </h1>
                <div class="star_caja">
                    <div class="iconos_calificar">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="caja-car">
                <div class="iconos_carrito">
                    
                    <a href="#" class="agregar-carrito" data-id="<%= product.id %>">
                        Agregar al carrito <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
            </div>
            <hr size="4" width="100%" color="">
            <div class="Caja-pm"></div>
            <h2 class="precios-T"> <%= product.currency.symbol %> <%= parseInt(product.price) %> </h2>
            <% if(product.freeShipping === true) { %>
                <div class="free-shipping-detail">
                    <div class="badge badge-success">Envío gratis</div>
                </div>
            <% } %>
            <div class="seleccion">
            <p class="parrafo-d"> <%= product.description %> </p>
        </div> 
    </div>    
</div>
<hr width="100%" color="">
    <div class="container-product">
        <h2 class="subtitulos-p">Productos Similares</h2>
        <div class="caja-producto">
            <div class="product_similars">   
            <img src="/images/aspiradora200.jpg">
            <div class="ti-pr">
            <h4 class="cook">Trapeador Eco</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>  
            </div>
            <div class="product_similars">
            <img src="/images/aspiradora200.jpg">
            <div class="ti-pr">
            <h4 class="cook">Trapeador flex</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
            <div class="product_similars">
            <img src="/images/mycook-touch.webp">
            <div class="ti-pr">
            <h4 class="cook">Cocina Inteligente</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
            <div class="product_similars">
            <img src="/images/cortadora-cesped.webp">
            <div class="ti-pr">
            <h4 class="cook">Aspiradora</h4>
            <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            </div>
            </div>
        </div>
    </div>
        <hr width="100%" color="">
    
    

<section class="testimonios">
    <div class="testimonios_footer">
        <span>Comentarios</span>
    </div>
    <div class="testimonios-contenedor">
        <div class="testimonios-caja">
            <div class="caja-top">
                <div class="perfil">
                    <div class="perfil-img">
                        <img src="/images/perfil -dma.jpg">
                    </div>
                    <div class="name-user">
                        <strong>Juanita La Peligrosa</strong>
                    </div>
                </div>
            </div> 
            <div class="reseñas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            
            <div class="comentarios-clientes">
                <p>Como programdora full stack me sirvio bastante con la limpieza de mi hogar, ya que no me queda tiempo para nada...ni para socializar.</p>
            </div>
        </div>
        <div class="testimonios-caja">
            <div class="caja-top">
                <div class="perfil">
                    <div class="perfil-img">
                        <img src="/images/perfil-cabllero.png">
                    </div>
                    <div class="name-user">
                        <strong>mark zuckerberg</strong>
                    </div>
                </div>
            </div>
            <div class="reseñas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            
            
            <div class="comentarios-clientes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique eveniet odio</p>
            </div>
        </div>
    </div>
    <div class="boton-agregar">
    <button class="add-boton" type="submit" value="añadir comentario">Añadir Comentario</button>
    </div>
    
</section>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../partials/footer.ejs') %>
</body>
<script type="text/javascript">
    function mifuncion(smallImg){
        var fullImg=document.getElementById("imagebox");
        fullImg.src=smallImg.src;
    }
</script>
<script src="/js/productDetail.js"></script>

</html>    