<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/admin/head.ejs') %>
        <body>
            <%- include('../partials/admin/header.ejs') %>
                <main class="main-contenedor">
                    <%- include('../partials/admin/sidebar.ejs') %>
                    <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-createProduct">
                        <div>
                            <input type="text" name="name" id="name" placeholder="Nombre de tu producto...">
                        </div>
                        <section class="price-fields">
                                <div>
                                    <select name="currency_id" id="currency_id">
                                        <option value="" disabled selected>--Moneda--</option>
                                        <% for(currency of currencies) { %>
                                            <option value="<%= currency.id %>"> <%= currency.symbol %> </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="errors">
                                    <ul>

                                    </ul>
                                </div>
    
                                <div>
                                    <input type="number" name="price" id="price" placeholder="Precio: Ejemplo: 150">
                                </div>
                        </section>
                        <div>
                            <select name="category_id" id="category_id">
                                <option value="" disabled selected>--Categoría--</option>
                                <% for(category of categories) { %>
                                    <option value="<%= category.id %>"> <%= category.name %> </option>
                                <% } %>
                            </select>
                        </div>
                        <label>Envío gratis</label>
                        <div class="input-shipping">
                            <input type="radio" name="freeShipping" id="shipping1" value="true">
                            <label for="shipping1"> Si </label>
                        </div>
                        <div class="input-shipping">
                            <input type="radio" name="freeShipping" id="shipping2" value="false" checked>
                            <label for="shipping2"> No </label>
                        </div>                 
                        <div>
                            <label>Publicado</label>
                            <div class="input-published">
                                <input type="radio" name="isPublished" id="isPublishedT" value="true">
                                <label for="isPublishedT"> Si </label>
                            </div>
                            <div class="input-published">
                                <input type="radio" name="isPublished" id="isPublishedF" value="false" checked>
                                <label for="isPublishedF"> No </label>
                            </div>
                            <div class="input-featured">
                                  <label for="isFeatured">Producto destacado</label>
                                  <input type="checkbox" name="isFeatured" id="isFeatured">
                            </div>                 
                            <div class="input-imagenes">
                                <label for="mainImage">Imagen de Portada</label>
                                <input type="file" id="file" name="mainImage">
                            </div>
                            <div class="input-imagenes">
                                <label for="gallery">Galeria de Imagenes</label>
                                <input type="file" id="gallery_file" name="gallery" multiple>
                            </div>
                            <div>
                                <textarea name="description" id="description" cols="30" rows="5" placeholder="Describe tu producto" width="100%"></textarea>
                            </div>
                        </div>
                <div class="modal-footer">
                <a href="/adminDash" class="btn btn-secondary">Cerrar</a>
                <button type="submit" id="button" class="btn btn-primary">Guardar</button>
                
                </div>
            </form>
                </main>
                <script src="/js/validation.js"></script>        
        </body>
</html>